/* Galeria de todos los productos */

.tarj1{
    background-image: url(/img/productos/jardin/6.jpg);
    background-size: cover;
}
.tarj2{
    background-image: url(/img/productos/llaveros/1.jpg);
    background-size: cover;
}
.tarj3{
    background-image: url(/img/productos/mesa-luz/3.jpg);
    background-size: cover;
}
.tarj4{
    background-image: url(/img/productos/percheros/5.jpg);
    background-size: cover;
}
.tarj5{
    background-image: url(/img/productos/veladores/6.jpg);
    background-size: cover;
}